<!-- src/main/resources/templates/body.html -->
<div class="esupstock m-4" th:fragment="body">
        <div id="toolbar" class="row">
            <span class="toolbar-item col">
                            <a href="#" class="disabled" id="toolbar-refresh" th:title="#{toolbar.refresh.title}" onclick="return false;" th:text="#{toolbar.refresh}"></a>
                        </span>
            <span class="toolbar-item col" style="display: none">
                            <a href="#" id="toolbar-list" class="disabled" onclick="return false;" th:title="#{toolbar.list.title}" th:text="#{toolbar.list}"></a>
                        </span>
            <span class="toolbar-item col" id="file-uploader" th:title="#{toolbar.upload.title}"></span>
            <span class="toolbar-item col">
                            <a href="#" class="disabled" id="toolbar-new_folder" th:title="#{toolbar.create.title}" th:text="#{toolbar.create}"></a>
                        </span>
            <span class="toolbar-item col">
                            <a href="#" class="disabled" id="toolbar-new_file" th:title="#{toolbar.create.file.title}" th:text="#{toolbar.create.file}"></a>
                        </span>
            <span class="toolbar-item col">
                            <a href="#" class="disabled" id="toolbar-download" th:title="#{toolbar.download.title}" th:text="#{toolbar.download}"></a>
                        </span>
            <span class="toolbar-item col">
                            <a href="#" class="disabled" id="toolbar-zip" th:title="#{toolbar.zip.title}" th:text="#{toolbar.zip}"></a>
                        </span>
            <span class="toolbar-item col">
                            <a href="#" class="disabled" id="toolbar-copy" onclick="return false;" th:title="#{toolbar.copy.title}" th:text="#{toolbar.copy}"></a>
                        </span>
            <span class="toolbar-item col">
                            <a href="#" class="disabled" id="toolbar-cut" onclick="return false;" th:title="#{toolbar.cut.title}" th:text="#{toolbar.cut}"></a>
                        </span>
            <span class="toolbar-item col">
                            <a href="#" class="disabled" id="toolbar-paste" onclick="return false;" th:title="#{toolbar.paste.title}" th:text="#{toolbar.paste}"></a>
                        </span>
            <span class="toolbar-item col">
                            <a href="#" class="disabled" id="toolbar-rename" onclick="return false;" th:title="#{toolbar.rename.title}" th:text="#{toolbar.rename}"></a>
                        </span>
            <span class="toolbar-item col">
                            <a href="#" class="disabled" id="toolbar-delete" onclick="return false;" th:title="#{toolbar.delete.title}" th:text="#{toolbar.delete}"></a>
                        </span>
            <span class="toolbar-item col">
                            <a th:href="@{/logout}" class="bi bi-fullscreen-exit" id="toolbar-logout" th:title="#{toolbar.logout}" th:text="${#authentication.principal.username}"></a>
                        </span>
        </div>
        <div id="info-toolbar" class="row">
            <span>...</span>
        </div>
        <div class="row">
            <div id="leftArea" class="fl-col fl-force-left col-md-4">
                <h3 class="ui-widget-header ui-corner-all arborescentAreaTitle" th:text="#{treearea.header}"></h3>
                <div id="arborescentArea">
                    <div id="fileTree" th:text="#{error.javascriptengine}"></div>
                </div>
                <div id="detailArea"></div>
            </div>
            <div id="browserArea" class="ui-widget-content fl-force-right" th:classappend="${fullView} ? ' col-md-8' : ''">
                <div id="browserMain"></div>
            </div>
        </div>
        <ul id="myMenu" class="contextMenu">
            <li class="download"><a href="#download" th:text="#{browserarea.menu.download}"></a></li>
            <li class="zip"><a href="#zip" th:text="#{browserarea.menu.zip}"></a></li>
            <li class="copy separator"><a href="#copy" th:text="#{browserarea.menu.copy}"></a></li>
            <li class="cut"><a href="#cut" th:text="#{browserarea.menu.cut}"></a></li>
            <li class="paste"><a href="#paste" th:text="#{browserarea.menu.past}"></a></li>
            <li class="rename"><a href="#rename" th:text="#{browserarea.menu.rename}"></a></li>
            <li class="delete"><a href="#delete" th:text="#{browserarea.menu.delete}"></a></li>
        </ul>
        <div id="waitingDialog" th:title="#{ajax.overlay.title}" th:text="#{ajax.overlay.body}"></div>
        <div id="errorDialog" th:title="#{ajax.error.title}">...</div>

        <div id="delete-confirm-ok" th:text="#{delete.confirm.ok}"></div>
        <div id="delete-confirm-cancel" th:text="#{delete.confirm.cancel}"></div>
        <div id="delete-confirm" th:title="#{delete.confirm.title}">
            <p>
                <span class="ui-icon ui-icon-alert"></span>
                <span th:text="#{delete.confirm.message}"></span>
            </p>
        </div>
</div>