<!-- src/main/resources/templates/details_files.html -->
<h3 class="ui-widget-header ui-corner-all" th:text="#{details.header}"></h3>

<div class="details-spacer"></div>

<div class="details-attribute-header" th:text="#{details.numselected} + ' : '"></div>
<div class="details-attribute" th:text="${numselected}"></div>

<div class="details-spacer"></div>
<div id="detail-zip-download" th:text="#{toolbar.zip}"></div>

<div th:if="${image_paths != null and #lists.size(image_paths) > 0}">
    <div id="detail-view-images" th:text="#{details.images.title}"></div>
    <div id="diaporamaDivId" th:title="#{details.images.title}"></div>
    <div id="diaporamaSource" style="display:none">
        <ul class="diaporama1">
            <li th:each="path : ${image_paths}">
                <img th:src="@{/fetchImage(dir=${path})}" alt="Image" th:title="${path}" />
            </li>
        </ul>
    </div>
    <div id="ok_text" th:text="#{details.images.ok}"></div>
    <div id="next_text" th:text="#{details.images.next}"></div>
    <div id="prev_text" th:text="#{details.images.prev}"></div>
</div>
