<!-- src/main/resources/templates/view-portlet-mobile.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ESUP File Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta charset="UTF-8"/>
    <title>EsupFilemanager Mobile</title>
    <link rel="stylesheet"
          th:href="@{/css/esup-stock-mobile.css}"
          type="text/css"
          media="screen, projection"/>

    <link rel="stylesheet" th:href="@{/webjars/jquery-mobile/jquery.mobile.css}">
    <link rel="stylesheet" th:href="@{/webjars/jquery-mobile/jquery.mobile.icons.css}">

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-mobile/jquery.mobile.js}"></script>

</head>
<body>
<div th:id="${n} + 'EsupFilemanager'" class="ui-content esupstock" role="main" data-role="content" data-theme="c">
    <div data-role="controlgroup" data-mini="true" data-type="horizontal" class="breadcrumbs">
        <a th:each="parent, itemStat : ${parentsEncPathes}"
           th:href="@{/(dir=${parent.key})}"
           data-role="button">
            <img th:src="${parent.value[1]}" alt="icon"/>
            <span th:text="${parent.value[0]}"></span>
        </a>
    </div>

    <div class="ui-body">
        <ul id="jqueryFileTree" data-role="listview" data-inset="true">
            <li th:each="file : ${files}" th:if="${file.type == 'file'}" data-icon="false">
                <a th:href="@{/downloadFile(dir=${file.encPath})}" data-ajax="false">
                    <img th:src="${file.icon}" alt="icon" class="ui-li-icon"/>
                    <span th:text="${file.title}"></span>
                </a>
                <p class="listAttributes">
                    <span class="listAttribute">
                        <span class="attrLabel">[[#{browserArea.header.size}]] : </span>
                        <span class="attrValue" th:text="${file.formattedSize.size} + ' ' + #{|details.${file.formattedSize.unit}|}"></span>
                    </span>
                    <span class="listAttribute">
                        <span class="attrLabel">[[#{browserArea.header.modified}]] : </span>
                        <span class="attrValue" th:text="${#dates.format(file.lastModifiedTime, datePattern)}"></span>
                    </span>
                </p>
            </li>
            <li th:each="file : ${files}" th:if="${file.type != 'file'}">
                <a th:href="@{/(dir=${file.encPath})}">
                    <img th:src="${file.icon}" alt="icon" class="ui-li-icon"/>
                    <span th:text="${file.title}"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>