<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>ESUP File Manager</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}" />

    <link rel="stylesheet" th:href="@{/css/esup-stock.css}" type="text/css" media="screen, projection">
    <link rel="stylesheet" th:href="@{/css/google-open-sans.css}" type="text/css" media="screen, projection">
    <link rel="stylesheet" th:href="@{/css/jquery-ui-1.8.15.custom.css}" type="text/css" media="screen, projection">
    <link rel="stylesheet" th:href="@{/css/jquery.contextMenu.css}" type="text/css" media="screen, projection">
    <link rel="stylesheet" th:href="@{/css/jquery.diaporama.css}" type="text/css" media="screen, projection">
    <link type="text/css" th:href="@{/css/jplayer.blue.monday.css}" rel="stylesheet" />
    <link type="text/css" th:href="@{/css/esup-jplayer.css}" rel="stylesheet" />

</head>
<body>
    <script th:inline="javascript">
        var fileuploadTemplate = /*[[#{fileupload.template}]]*/ '';
        var fileTemplate = /*[[#{fileupload.fileTemplate}]]*/ '';
        var useDoubleClick = /*[[${useDoubleClick}]]*/ '';
        var useCursorWaitDialog = /*[[${useCursorWaitDialog}]]*/ '';
        var defaultPath = /*[[${defaultPath}]]*/ '';

        var htmlFileTreeURL = '/htmlFileTree';
        var uploadFileURL ='/uploadFile';
        var prepareCopyFilesURL = '/prepareCopyFiles';
        var prepareCutFilesURL ='/prepareCutFiles';
        var pastFilesURL = '/pastFiles';
        var fileChildrenURL = '/fileChildren';
        var getParentPathURL = '/getParentPath';
        var detailsAreaURL = '/detailsArea';
        var createFileURL = '/createFile';
        var toggleThumbnailModeURL = '/toggleThumbnailMode';
        var renameFileURL = '/renameFile';
        var downloadFileURL = '/downloadFile';
        var downloadZipURL = '/downloadZip';
        var removeFilesURL = '/removeFiles';
        var authenticateURL = '/authenticate';
        /*]]>*/
    </script>

    <!-- JS -->
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.4.2.min.js}"></script>
    <script type="text/javascript">
        var jQuery = $.noConflict(true);
    </script>
    <script type="text/javascript" th:src="@{/js/jquery.cookie.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui-1.8.15.custom.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/jquery.jstree.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.jplayer.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.contextMenu.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.jDiaporama.js}"></script>
    <script type="text/javascript" th:src="@{/js/fileuploader.js}"></script>
    <script type="text/javascript" th:src="@{/js/esup-stock.js}"></script>

    <div th:replace="~{body :: body}"></div>
</body>
</html>